@page "/"
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> Loc
@inject IAttractionService AttractionService

<PageTitle>@Loc["Przewodnik Opolskie"]</PageTitle>

@if (_recommended.Count > 0)
{
    <section class="mb-5">
        <h2>@Loc["Polecane"]</h2>
        <div class="row">
            @foreach (var attraction in _recommended)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        @if (attraction.MainImage != null)
                        {
                            <img src="@attraction.MainImage.Url" class="card-img-top" alt="@attraction.Name">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@attraction.Name</h5>
                            <p class="card-text">Krótki opis atrakcji.</p>
                            <a href="/attraction/@attraction.Id" class="btn btn-primary">@Loc["Zobacz więcej"]</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}

@if (_popular.Count > 0)
{
    <section class="mb-5">
        <h2>@Loc["Popularne"]</h2>
        <div class="row">
            @foreach (var attraction in _popular)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        @if (attraction.MainImage != null)
                        {
                            <img src="@attraction.MainImage.Url" class="card-img-top" alt="@attraction.Name">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@attraction.Name</h5>
                            <p class="card-text">Krótki opis atrakcji.</p>
                            <a href="/attraction/@attraction.Id" class="btn btn-primary">@Loc["Zobacz więcej"]</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}

@if (_commented.Count > 0)
{
    <section class="mb-5">
        <h2>@Loc["Najczęściej komentowane"]</h2>
        <div class="row">
            @foreach (var attraction in _commented)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        @if (attraction.MainImage != null)
                        {
                            <img src="@attraction.MainImage.Url" class="card-img-top" alt="@attraction.Name">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@attraction.Name</h5>
                            <p class="card-text">Krótki opis atrakcji.</p>
                            <a href="/attraction/@attraction.Id" class="btn btn-primary">@Loc["Zobacz więcej"]</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}

@code {

    // TODO
    private List<AttractionDto> _recommended = [];
    private List<AttractionDto> _popular = [];
    private List<AttractionDto> _commented = [];

    protected override async Task OnInitializedAsync()
    {
        var list = await AttractionService.Get(limit: 12);

        _recommended = list.Take(4).ToList();
        _popular = list.Skip(4).Take(4).ToList();
        _commented = list.Skip(8).Take(4).ToList();
    }

}