@inherits LayoutComponentBase

@inject IStringLocalizer<SharedResource> Loc
@inject ICategoryService CategoryService

<HeadContent>
    <link rel="stylesheet" href="css/app.css"/>
</HeadContent>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">@Loc["Przewodnik Opolskie"]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var category in _categories)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/category/@category.Id">@category.Name</a>
                    </li>
                }
            </ul>
            <div class="ms-auto">
                <LanguageSwitcher/>
            </div>
        </div>
    </div>
</nav>

<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1>@Loc["Interaktywny Przewodnik po Województwie Opolskim"]</h1>
        <p class="lead">@Loc["Odkryj najciekawsze miejsca i atrakcje w regionie!"]</p>
    </div>
</header>

<main class="container my-5 content">
    @Body
</main>

<AdminTools/>

<footer class="bg-light py-4">
    <div class="container text-center">
        <p class="mb-0">© 2024 @Loc["Interaktywny Przewodnik po Województwie Opolskim"]</p>
    </div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private List<CategoryDto> _categories = [];

    protected override async Task OnInitializedAsync()
    {
        _categories = await CategoryService.Get();
    }

}